<div ng-controller="permunicipiController as Ctrl">

    <!-- Alerts -->
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

    <h2 class="page-header">
        Recompte per municipi
        <div class="pull-right">
            <img ng-hide="loadingimage == null" ng-src="{{loadingimage}}" width="16px" height="16px" style="margin:none;">
            <small><span style="color:red;">&Uacute;ltima actualitzaci&oacute; ({{estatrecompte.percentatge}}): {{estatrecompte.ultima_actualitzacio}}</span></small>
        </div>
    </h2>
    <div>
        <div id="votsgrid" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-move-columns ui-grid-empty-base-layer ui-grid-auto-resize ui-grid-pinning class="grid" style="width: 100%;height: 600px"></div>
    </div>
</div>
